SIMPLE_AUTH_TOKEN=""
DATABASE_URL=""
AI_GATEWAY_API_KEY=""
BOOKINGS_API_URL=""
WEBHOOK_BASE_URL=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_WHATSAPP_FROM=""
TWILIO_SMS_FROM=""
TWILIO_MESSAGING_SERVICE_SID=""
TWILIO_TEMPLATE_WELCOME_SID=""
TWILIO_TEMPLATE_EVENTS_SID=""
TWILIO_TEMPLATE_ROOMSERVICE_SID=""
TWILIO_TEMPLATE_CHECKOUT_SID=""
EXAMPLE_PHONE_NUMBER=""
